.finances {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.fin-table-div {
    width: 600px;
    overflow: auto;
    max-height: 450px;
    border: 1px solid rgb(100, 100, 100);
}
.fin-table-block {
    width: 100%;
}
table {
    width: 100%;
    border-spacing: 0;
}
#finances-table th, #finances-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
#finances-table th {
    background-color: #9269a0;
    font-weight: bold;
    width: 50%;
}
#finances-table tr {
    background-color: #f0f0f0;
    width: 50%;
}